body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header,
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.section {
    margin: 20px 0;
}

.about,
.skill,
.projects,
.contact {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

.project {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust this to control image size */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact p {
    margin-bottom: 10px;
    font-size: 1em;
}

.contact a {
    color: #0066cc;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Grid layout for project cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
    padding: 0;
}

/* Card styling */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image styling for cards */
.card-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Card content styling */
.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 1.25em;
}

.card-content p {
    margin: 0;
    font-size: 0.95em;
    color: #555;
}

.bg-image {
    background-image: url("assets/git_contribution.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
