body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header,
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.section {
    margin: 20px 0;
}

.about,
.skill,
.projects,
.contact {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

.project {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust this to control image size */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact p {
    margin-bottom: 10px;
    font-size: 1em;
}

.contact a {
    color: #0066cc;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
